html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    background-color: #eee;
    font-family: 'Ubuntu', sans-serif;
    padding: 50px 200px;
    height: 100vh;
}

@media (max-width: 996px) {
    .container {
        padding: 30px 20px;
    }
}