.section {
    margin: 20px auto;
    background-color: white;
}

.section__container {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.section__container--tittleTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .section__container--tittleTask {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section__tittle {
    padding: 30px;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0px;
}

@media (max-width: 767px) {
    .section__tittle {
        width: 100%;
    }
}