.section__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 767px) {
    .section__form {
        flex-wrap: wrap;
        align-items: center;
    }
}

.section__button {
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
    background-color: teal;
    color: white;
    border: none;
    transition: 0.5s;
}

.section__button:hover {
    background-color: rgb(56, 179, 179);
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .section__button {
        align-self: center;
        margin-bottom: 20px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

.section__input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid rgb(214, 214, 214);
}

@media (max-width: 767px) {
    .section__input {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }
}

.section__paragraph {
    flex-basis: 100%;
    padding: 0px 0px 0px 20px;
}